.list-title{
    text-align: center;
}
.list-container{
    height: 500px;
    width: 400px;
    border: 1px solid #ccc;
    padding: 20px;
    background-color:cadetblue;
    border-radius: 20px;
    display: block;
    margin: 10px auto;
    overflow-y: scroll;
}
.head{
    margin: 5px auto;
    text-align: center;
}
.add-icon{
    height: 30px;
    cursor: pointer;
}
.add-icon:hover{
    transform: rotate(90deg);
    transition: 0.5s;
}
.input{
    width: 220px;
    padding: 5px 10px;
    border: 1px solid black;
    margin-right: 10px;
    border-radius: 10px;
    font-size: 20px;
}
.parent{
    display: flex;
    justify-content:center;
    align-items: center;
    margin-top: 20px;
}
.type-todo{
    width: 150px;
    padding: 5px 10px;
    border: 1px solid black;
    margin-right: 10px;
    border-radius: 10px;
    font-size: 20px;
}